.header{
    background-color: #011627;
    height: 80px;
    margin: 0;
}

mat-toolbar-row{
    margin: auto 0;
}

.imagen-header{
    align-items: center;

}
.imagen-header img{
    height: 80px;
}

a{
    color: white;
    font-family:'Montserrat Alternates', sans-serif;
}