<mat-toolbar class="header-toolbar header" >
    <mat-toolbar-row>
        <div class="container">
            <div class="row between-xs middle-xs header-row">

                <div class="imagen-header">
                    <img src="assets/img/O (4).png" alt="Oscar Logo">
                </div>
                <nav>
                    <a mat-button >Sobre mi</a>
                    <a mat-button >Habilidades</a>
                    <a mat-button >Portafolio</a>
                    <a mat-button >Contactamé</a>                    
                </nav>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>